@page "{id:int?}"
@model RazorPagesGame.Pages.Games.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt id="title-name" class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Title)
        </dt>
        <dd id="title-desc" class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Title)
        </dd>
        <dt id="releasedate-name" class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.ReleaseDate)
        </dt>
        <dd id="releasedate-desc" class="col-sm-10">
            @Html.DisplayFor(model => model.Game.ReleaseDate)
        </dd>
        <dt id="genre-name" class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Genre)
        </dt>
        <dd id="genre-desc" class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Genre)
        </dd>
        <dt id="price-name" class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Price)
        </dt>
        <dd id="price-desc" class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Price)
        </dd>
        <dt id="rating-name" class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Rating)
        </dt>
        <dd id="rating-desc" class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Rating)
        </dd>
    </dl>
</div>
<div>
    <form>
        <p>Can I play this game? </p>
        <p>Age:
            <input type="text" asp-for="AgeString"/>
            <input type="submit" value="Check" class="btn btn-primary"/>
            <span asp-validation-for="@Model.AgeString" class="text-danger"></span>
        </p>
    </form>
</div>
<div>
        <p class="col-sm-10">
            @Html.DisplayFor(model => model.CanPlay)
        </p>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Game.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
